node_modules/
dist/
*.log
.DS_Store
Thumbs.db

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp

# Videos
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv

# Compressed files
compressed/
-p/
